<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/main.js"></script>
    <title>Map Visualization</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center mt-5 mb-4">Text Input</h1>
                <form id="input-form">
                    <div class="form-group">
                        <label for="user-input">Enter text:</label>
                        <textarea class="form-control" id="user-input" name="user_input" rows="6" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Generate Response</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
